@import url('https://fonts.googleapis.com/css2?family=Linux+Libertine&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* 正文 */
body {
  background-color: #fff;
  padding: 0px;
  font: 18px/1.6 'Linux Libertine', 'Times New Roman', serif;
  color: #222;
  font-weight: 400;
  margin: 0;
}

/* 标题 */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #043361;   /* 保留你原来的蓝色 */
}

/* 代码 */
code, pre {
  font-family: 'Inconsolata', 'Ubuntu Mono', monospace;
}
